<style>
	
#th {
    background-color: #3E6AA7;
    color:white;
   font-family: Verdana,Arial,Helvetica,sans-serif;
   font-weight: normal;padding: 9px;text-transform: uppercase;
   font-size: 14px;

    
}
.style-1 tr td{

	font-family: arial;
	font-size: 50;
}
</style>
<script type="text/javascript">
	function validate()
	{


		var school= document.getElementById('school').value; 
		var university= document.getElementById('university').value;
		var status= document.getElementById('status').value;
		var program=document.getElementById('program').value;
		// var interviewdate=document.getElementById('interviewdate').value;
		// var received=document.getElementById('descion').value;
		// alert(received);
		// var descion=document.getElementById('descion').value;
		
		if(school == "")
		{
			
			document.getElementById('error').innerHTML="Please Select The School";
			// document.getElementById('school').focus();
			return false;
		}
		else if(university == "")
		{
			document.getElementById('error').innerHTML="Please Select The University"
			return false;
		}
		else if(status == "")
		{
			document.getElementById('error').innerHTML="Please Select Status";
			// document.getElementById('status').focus();
			return false;
		}
		else if(program == "")
		{
		 
		   document.getElementById('error').innerHTML="Please Select The Program";
		 	// document.getElementById('application_type').focus();
			return false;
		}
		// else if(interviewdate == "")
		// {
		// 	document.getElementById('error').innerHTML="Please Select interviewdate";
		//  	// document.getElementById('application_type').focus();
		// 	return false;
		// }
		// else if(received == "")
		// {
		// 	var a=document.getElementById('error').innerHTML="Please Select Descision Recived";
			
		//  	// document.getElementById('application_type').focus();
		// 	return false;
		// }
		// else if(descion == "")
		// {
		// 	document.getElementById('error').innerHTML="Please Select Date Descision Recived";
		//  	// document.getElementById('application_type').focus();
		// 	return false;
		// }
		return true;
	}
</script>

<div class="well" style="border:none">
<div class="gdlr-lms-content" style="width: 1042px; padding-top:0px">
 <span style="color: rgb(219, 103, 103);margin-left: 316px;" id="error"></span>

	<div style="margin-top:20px">
	<%= form_tag schools_create_path, :class => 'gdlr-lms-form' do |f| %>
	<div class="eight columns">
		
		<div style="margin-left:20px;margin-right:1px">
			<div class="six columns">
				<div class="gdlr-lms-item" style="margin-left: 1px;width: 281px;
">
				<span class="gdlr-lms-form" >
				<p>Choose a School*</p>
				
						<span class="gdlr-lms-combobox" >
							<select name="school" id="school" style="width: 267px;
">
							<option value="">-----------Select school----------</option>
							<% @school_name.each do |sn| %>
								 <option value="<%= sn.business_school	  %>">
										<%= sn.business_school  %>
								 </option>
							<% end %>
								  
							</select>
						</span>
				</span>
				
				</div>
			</div>
			<div class="clear"></div>
			<div class="six columns">
				<div class="gdlr-lms-item" style="margin-left: 1px;width: 281px;">
				<span class="gdlr-lms-form" >
				
				<p>Choose a University*</p>
						<span class="gdlr-lms-combobox" >
					<select name="university" id="university" style="width: 267px;">
							<option value="">-----------Select University----------</option>
							<% @school_name.each do |sn| %>
								 <option value="<%= sn.university %>">
										<%= sn.university  %>
								 </option>
							<% end %>
								  
							</select>
						</span>
				</span>
				
				</div>
			</div>
			<div class="six columns">
				
				<span class="gdlr-lms-form" >
				
			<p>InterView*</p>
						
		<input type="radio" name="interview" id="intqyes" value="yes">&nbspyes
		<input type="radio" name="interview" id="intqno" style="margin-left:10px;" value="no">&nbspNo
						
				</span>
				
				</div>
			</div>
		</div>
		<div style="margin-left:1px;margin-right:1px; padding:17px">
			<div class="twelve columns">
			<span class="gdlr-lms-form" >
				<div>
				
				<div class="three columns">
					<p style="margin-bottom:0px">Status</p>
							<span class="gdlr-lms-combobox" style="width: 158px;">
							<select name="status" id="status">
								<option value="">-Select-</option>
								<option value="Intend to Apply">Intend to Apply
								</option>
								<option value="Rejected">Rejected</option>
								<option value="Accepted">Accepted</option>
								<option value="Waitlisted">Waitlisted	</option>
								<option value="WL, Accepted">WL, Accepted	</option>
								<option value="WL, Rejected">WL, Rejected	</option>
								<option value="Pending">Pending</option>
							</select>
						</span>
				</div>
				<!-- <div class="three columns" >
					<p style="margin-bottom:0px">Application Type</p>
					<span class="gdlr-lms-combobox" style="width: 158px;">
							<select name="application_type" id="application_type">
								<option value="">-Select-</option>
								<option value="Regular Application">Regular Application</option>
								<option value="Rejected">Rejected</option>
								<option value="Accepted">Accepted</option>
								<option value="Waitlisted">Waitlisted	</option>
								<option value="WL, Accepted">WL, Accepted</option>
								<option value="WL, Rejected">WL, Rejected</option>
								<option value="Pending">Pending</option>
			
							</select>
						</span>
				</div> -->
				<div class="three columns">
					<p style="margin-bottom:0px">Program</p>
					<span class="gdlr-lms-combobox" style="width: 158px;">
							<select name="program" id="program">
								<option value="">-Select-</option>
								<option value="Full Time">Full Time</option>
								<option value="Part Time">Part Time</option>
						
							</select>
						</span>
				</div>
				
				<div class="three columns" style="display:none;" id="intdate">
					
						<p style="margin-bottom:0px">Interview Date</p>
					 
					 <input type="date" name="interviewdate" id="interviewdate" value="" style="width: 198px;">
				</div>
				</div>
				<!-- <div class="twelve columns">
					<div class="four columns">
						<input type="checkbox" name="Attending" value="Attending">Attending
					</div>
					<div class="four columns">
						<input type="checkbox" name="Withdrawn" value="Withdrawn">Withdrawn 
					</div>
					<div class="four columns">
						<input type="checkbox" name="Deferred" value="Deferred">Deferred 
					</div>				
				</div> -->
						</div>
						
			<div class="clear"></div>
		</div>
		<div  style="margin-right:1px; margin-left:1px; padding:17px">
			<div class="twelve columns">

				<div class="four columns">
					
					<p style="margin-bottom:0px">Round Applied</p>
					
					<span class="gdlr-lms-combobox" style="width: 158px;">
						<select name="choice" id="program">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
						
							</select>					
					</span>	
				</div>
				<!-- <div class="four columns">
					
					<p style="margin-bottom:0px">Seat</p>
					<input type="text" name="seat"  value="" style="width: 198px;">					
				</div> -->
				<div class="four columns">
					
					<p style="margin-bottom:0px">Date Applied</p>
					<input type="date" name="received" id="received"  placeholder="mm/dd/yyyy" style="width: 198px;">
					
				</div>
				<div class="clear"></div>
				<div class="four columns">
					<p style="margin-bottom:0px">Scholarship</p>
					<input type="text" name="scholarship"  value="" style="width: 198px;" placeholder='$'>
				</div>
				<!-- <div class="four columns">
					
					<p style="margin-bottom:0px">Complete</p>
					<input type="date" name="complete" id="interviewdate" value="" style="width: 198px;">
					
				</div> -->
				<div class="four columns">
					
					<p style="margin-bottom:0px">Date Descision Recived</p>
					<input type="date" name="descion" id="descion" value="" style="width: 198px;">
					
				</div>
			</div>
			<div class="clear"></div>
		</div>
		</div>
		
		<div class="gdlr-lms-content" style="margin-left: -666px;">
		<div class="twelve columns" style="text-align:center;align:left margin-top: 9px;">
			<input type="submit" class="gdlr-button medium" style="color:#ffffff; background-color:#4f8ed6; " value="Add Application" onclick="return validate();"/>
			 &nbsp
			<button class="gdlr-button medium" style="color:#ffffff; background-color:#d6724f;margin-top:10px"><a href="<%=profile_index_path %>" style='color:inherit'>Cancel</a></button>
		</div>
		</div>
		<% end -%>
		
		<div class="clear"></div>
	
	
	
	<div class="clear"></div>
</div>
</div>
<div class="clear"></div>
<div class="clear"></div>

</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
	$('#intqyes').click(function(){
	    
	        $('#intdate').css('display','block');
	        
	    
	    
	});
	$('#intqno').click(function(){
	    
	    $('#intdate').css('display','none');
	});
</script>