<div class="container">
  
<div class="section-container container">
        <div class="gdlr-item gdlr-content-item" style="margin-left: 300px;
margin-right: 300px;
        "><p>
        </p><div class="clear"></div>
        <div class="gdlr-space" style="margin-top: -22px;"></div>
        <div class="clear"></div>
        <div class="gdlr-space" style="margin-top: 45px;"></div>
        <div class="wpcf7" id="wpcf7-f8-o1" lang="en-US" dir="ltr">
        <div class="screen-reader-response"></div>
        
        <%=form_tag profile_createforgotpassword_path, :class =>'gdlr-item gdlr-content-item gdlr-lms-form' do |f| %>
        <dl class="dl-horizontal" style="margin-left: -65px;">
                
                <dt style="margin-top: 13px;">Email Address*</dt>
                <dd><%= text_field_tag 'email' , "",class: 'form-control' ,placeholder: 'Email' %></dd>
                
        </dl>
        <div style="width:100%;text-align:center;">
            <%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signin', style: 'padding: 12px 67px;margin-left:143px;font-size: 18px;'   %>
            
        
        
           
        </div>

        </div>
        <%end%>
        </div><div class="clear"></div> 
</div>

<div class="gdlr-item gdlr-divider-item">
<div class="gdlr-divider solid"></div>
</div>




                                                        
                                                <div class="row" style="60px" style="margin-left: 149px;" >
                                                        <h5 style="color:#bfbfbf;text-align:center">Or You can Login with one of the following</h5>
                                                        
                                                <div class="six columns" style="text-align:right">
                                                <a  href="/auth/facebook"><%=image_tag 'LoginWithFacebook.png', :style => "width:200px; height:45px; padding-right: 78px;"%></a>                                                        </div>
                                                <div class="six columns" style="text-align:left">
                                                <a href="/auth/gplus"><%=image_tag 'download.png', :style => "width:200px; height:53px; margin-top: -4px" %></a>
                                                </div>
                                                <div class="six columns" style="text-align:right margin;margin-bottom: 40px;
">
                                                <a href="/auth/twitter"><%=image_tag 'download (3).jpg', :style => "width:200px;height:50px; margin-top: -2px; padding-left: 295px;" %></a>

                                                </div>
                                                <div class="six columns" style="text-align:left;">
                                                <a href="/auth/linkedin"><%=image_tag 'download (1).png', :style => "width:200px; height:45px"%></a>
                                                </div>
                                                        
                                                        
        </div>
        <div class="clear"></div> 
        </div>

