 <div class="gdlr-item gdlr-divider-item"></div>
 <div class="wraper">
        <div class="mid_wrap">
            <div class="profile_blog">
                <div class="profile_blog_lft">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div><!--profile_blog_lft-->
                <div class="profile_blog_mid">
                    <div class="profile_blog_mid_lft">
                        <div class="profile_blog_mid_lft_pic">
                            <a href="#"><% unless current_user.image.nil? %>
                <%= image_tag current_user.image.url, :style => "width:300px;height:250px; margin-left: 18px;" %>
                <%else %>
                <img src="/assets/profile.png" alt="Edit Entry" style="width:300px;height:250px;" />
                
                
            <% end %></a>
                        </div><!--profile_blog_mid_lft_pic-->
                        <div class="profile_blog_mid_lft_list">
                            <ul>
                                <li><a href="<%= mailboxes_newest_path %>">Send Message</a><i class="icon-location-arrow" style="color: black; font-size: 16px; margin-left: 99px;"></i></li>
                                <li><a href="<%= schools_profile_path %>">Add School</a><i class="icon-ok" style="color: black; font-size: 16px; margin-left: 119px;"></i></li>
                                <!-- <li><a href="#">View Profile</a><img src="images/profile-list_pics_20.png" alt=""></li> -->
                                <li><a href="<%= profile_bookmarklist_path %>">Bookmark List</a><i class="icon-search" style="color: black; font-size: 16px; margin-left: 196px;float: left;margin-top: -18px;"></i></li>
                                <li><a href="<%=profile_edit_path %>">Edit Profile</a><i class="icon-edit" style="color: black; font-size: 16px; margin-left: 121px;"></i></li>
                                
                            </ul>
                        </div><!--profile_blog_mid_lft_list-->
                    </div><!--profile_blog_mid_lft-->
                    <div class="profile_blog_mid_rgt">
                        <div class="profile_search_blog">
                            <div class="profile_search_blog_lft">
                                <h1><%=current_user.username %></h1>

                                <%= image_tag 'like.png', :style => 'margin-top: -12px;'%>
                                Be the first person to congratulate 
                            </div><!--profile_search_blog_lft-->
                            <div class="profile_search_blog_rgt">
                                
   <%=search_form_for @q, :url => { :controller => 'profile',:action => 'staticprofile' }   do |f| %> 

            <%= f.search_field :username, id:'tribe-bar-search', placeholder:'Enter User Name', :style => 'color:black; background-color:white; border:1px solid;border-color: #D7D1D1;border-radius: 4px;padding: 8px;margin-top: -15px;' %>

                
            <%= f.submit :style => 'padding: 10px;color:white; background-color:#F7BD4F;'%>
    <% end %>  

                               
                            </div><!--profile_search_blog_rgt-->
                        </div><!--profile_search_blog-->
                        <div class="home_town_blog">
                            <p style="color: black;font-size: 23px;"><%=current_user.gpa %>,<%=current_user.gmat_score %> | Class of <%=current_user.year %></p>
                            <dl class="dl-horizontal">
                        <dt>Hometown:</dt>
                        <dd><%=current_user.hometown %></dd>
                        <dt>Undergraduate:</dt>
                        <dd><%=current_user.undergraduate_school %></dd>
                        <dt>Status:</dt>
                       
                        <dd> <%=current_user.status %> 

                         <% if current_user.status == "Commited"  %>   
                        To <%=current_user.school %>  On <%= current_user.updated_at.strftime("%Y-%m-%d")  %>
                        <% end %>

                        </dd>
                        </dl>
                            
                             <!--home_town_text-->
                            
                             <!--home_town_text-->
                            
                        </div><!--home_town_blog-->
                        <div class="profile_tbl">
                            <table>
                                <tr>
                                    <th style="text-align: center;" >School</th>
                            <th style="text-align: center;" >Scholarship($)</th>
                            <th style="text-align: center;">Status</th>
                            <th style="text-align: center;">Last Updated</th>
                            <th style="text-align: center;">Interview</th>
                            <th style="text-align: center;">Round Applied</th>
                                </tr>
                                <% @app_data.each do |ad| %>
                            <tr>
                            
                            <td id ="td" style="font-size:12px">
                            <div class="floatleft school-logo" style="margin-right:12px">
                                <% @slogo=School.find_by_business_school(ad.school) %>
                                <img alt="Icon" src="<%=@slogo.image.thumb('150x150').url %>" style="width: 100px; height: 41px;" />
                            </div><%= ad.school %> <br><a href="<%=schools_edit_path(ad.id)%>"><i class="gdlr-icon icon-edit" style="color: black; font-size: 14px; "></i></a>
                            <a href="<%=schools_destroy_path(ad.id)%>"><i class="gdlr-icon icon-remove" style="color: black; font-size: 14px; "></i></a></td>
                            <td id="td"style="font-size:12px">$<%= ad.scholarship %></td>
                            <td id="td" style="font-size:9px">
                            <% if ad.status == "Waitlisted" %>
                                <i class="gdlr-icon icon-circle-blank" style="color: #91d549; font-size: 16px; "></i><%= ad.status %>
                                <% elsif ad.status == "WL, Rejected" || ad.status == "Rejected"%>
                                <i class="gdlr-icon icon-remove" style="color: red; font-size: 16px; bacground-color:white"></i><%= ad.status %>
                                <% elsif ad.status == "WL, Accepted" %>
                                    <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px; "></i><%= ad.status %>
                                <% else %>
                                    <i class="gdlr-icon icon-spinner" style="color: #91d549; font-size: 16px; "></i><%= ad.status %>

                                
                            <% end %>
                                </td>
                            <td id="td"  style="font-size:9px"><%= ad.updated_at.strftime("%Y-%m-%d") %>
                            </td>
                            <td id="td" style="font-size:9px"><%=ad.interviewdate %></td>
                            <td id="td"><%=ad.choice %></td>
                            
                            </tr>
                            <%end %>
                            </table>
                            <h3>0 Responses</h3>
                        </div><!--profile_tbl-->
                        <div id="comments" class="gdlr-comments-area">
                        <h3 class="comments-title"><%=@comments.count %> Responses</h3>
                        <%@comments.each do |c| %>
                        <%= render :partial => 'profile/com', :locals => { :mydata => c } %>
                        <%end %>
                        <!-- .commentlist -->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                        <%=form_tag comment_new_path, :class => 'gdlr-lms-form' do %>
                                                    <p>Title*<br>
                            <span class="wpcf7-form-control-wrap your-name">
                            <%= text_field_tag 'title' , "",class: 'form-control' ,placeholder: 'Title' %>
                            </span></p>
                            <p>Comment*<br>
                            <span class="wpcf7-form-control-wrap your-name">
                            <%= text_area_tag 'comment' , "",class: 'form-control' ,placeholder: 'Comment ' %>
                            </span></p>
                            <%= submit_tag 'Post',class: 'button1' %>
                        <%end %>
                    </div><!-- #respond -->
                    </div>
                        
                    </div><!--profile_blog_mid_rgt-->
                </div><!--profile_blog_mid-->
                
                <div class="profile_blog_rgt">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div><!--profile_blog_rgt-->
            </div><!--profile_blog-->
            <div class="clear"></div>
        </div><!--mid_wrap-->
        <div class="clear"></div>
        <div>
                    <!-- ---------------commnt---------------- -->
                </div>
    </div><!--wraper-->
    <div class="clear"></div>