 <style type="text/css">
    .hover {
    position:relative;
    float:left;
    
}

.tooltip {
  top: -40px;
  background-color:black;
  color:white;
  border-radius:5px;
  opacity:0;
  position:absolute;
  padding: 3px;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
  width: 100px;
}

.hover:hover .tooltip {
    opacity:1;
}
</style>
 <div class="gdlr-item gdlr-divider-item"></div>
 <div class="wraper">
        <div class="mid_wrap">
            <div class="profile_blog">
                <div class="profile_blog_lft" style="border:none">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div><!--profile_blog_lft-->
                <div class="profile_blog_mid">
                    <div class="profile_blog_mid_lft">
                        <div class="profile_blog_mid_lft_pic">
                            <a href="#">
                    <% unless current_user.image.nil? %>
              <%= image_tag current_user.image.url, :style => "width:300px;height:250px; margin-left: 18px;" %>
                <%else %>
                <img src="/assets/profile.png" alt="Edit Entry" style="width:300px;height:250px;" />
                
                
            <% end %></a>
                        </div><!--profile_blog_mid_lft_pic-->
                        <div class="profile_blog_mid_lft_list">
                            <ul>
                                <li><i class="icon-envelope-alt" style="color: black; font-size: 16px; "></i><a href="<%= mailboxes_mailbox_path %>">Mailbox</a></li>
                                <li><i class="icon-location-arrow" style="color: black; font-size: 16px;"></i><a href="<%= mailboxes_newest_path %>">Send Message</a></li>
                                <li><i class="icon-plus-sign" style="color: black; font-size: 16px; "></i><a href="<%= schools_profile_path %>">Add School</a></li>
                                <!-- <li><a href="#">View Profile</a><img src="images/profile-list_pics_20.png" alt=""></li> -->
                                <li><i class="icon-search" style="color: black; font-size: 16px;"></i><a href="<%= profile_bookmarklist_path %>">Bookmark List</a></li>
                                <li><i class="icon-edit" style="color: black; font-size: 16px;"></i><a href="<%=profile_edit_path %>">Edit Profile</a></li>
                                
                            </ul>
                        </div><!--profile_blog_mid_lft_list-->
                    </div><!--profile_blog_mid_lft-->
                    <div class="profile_blog_mid_rgt">
                        <div class="profile_search_blog">
                            <div class="profile_search_blog_lft">
                                <h1><%=current_user.username %></h1>

                <div class="hover">
                    <%= image_tag 'congo.jpg', :style => 'margin-top: -12px;'%>
                    <div class="tooltip">
                            <%
                                @username=Like.where('puser_id = ?',current_user.id)
                            %>
                            <% unless @username.empty? %>
                            <%
                                 @username.each do |f|
                                 
                            %>
                                  <% f.puser_id      
                                  @likename=Member.find_by_id(f.cuser_id)
                                  %> 

                                  <%= @likename.username %>
                                  <br>
                            <%
                                end
                                
                            %>
                            <% else %>
                             No Members...
                            <%
                              end
                             %>

                            



                          </div>
                </div>
                        <% 
                          @count=Like.where('puser_id = ?',current_user.id).count 
                          
                        %>        
                        
                         <div style="width:31px;height:25px;background-color:green;border: 0px solid;border-radius: 30px;text-align: center;color: white;display: inline-block;margin-left: 5px;" ><%= @count %>

                          

                         </div>  Have Congratulated you
                            </div><!--profile_search_blog_lft-->

                   

                            <div class="profile_search_blog_rgt">

<%=form_tag profile_staticprofile_path, :method => 'get' do |f|  %>
     <%= text_field_tag 'username' , "",:style => 'color:black; background-color:white; border:1px solid;border-color: #D7D1D1;border-radius: 4px;margin-top: -15px;padding:0px 10px;',:placeholder => 'Enter member name', :id => 'tags'  %>
     <%= submit_tag 'Search',:style => 'padding: 10px;color:white; background-color:#F7BD4F;' %>
<% end -%>
<select id="demo" style="margin-top: -13px;position: absolute;left: 928px;width: 228px;background-color: white;border-color: #D7D1D1;display:none;"><option value="">----select--------</option></select>


                               
                            </div><!--profile_search_blog_rgt-->
                        </div><!--profile_search_blog-->
                      
                        <div class="home_town_blog">
                              <div class="eight columns">
                            <p style="color: black;font-size: 23px;">
                            <%= number_with_precision(current_user.gpa, precision: 2)  %>
                           <br> 
                            <%=current_user.gmat_score %> | Class of <%=current_user.year %></p>
                            <dl class="dl-inline">
                        <dt style="color:black">Hometown:</dt>
                        <dd><%=current_user.hometown %></dd>
                        <dt style="color:black">Undergraduate:</dt>
                        <dd><%=current_user.undergraduate_school %></dd>
                        <dt style="color:black">
               


                        Work Experience and <br> Other Information:   </dt>

                        <dd>
                        <%# binding.pry %>
                        <%if current_user.exp.blank?  %>
                         <%="--" %>
                        <%else %> 
                            
                        <%=current_user.exp %>
                        <%end %>
                        </dd>
                        <dt style="color:black;">Status:</dt>
                       
                        <dd > 
                          
                         <% unless current_user.commitschool.nil? %>  
                        <%#binding.pry %>
                         COMMITED To
                         
                        <% @slogo=School.find_by_business_school(current_user.commitschool) %>
                   <img alt="Icon" src="<%=@slogo.image.thumb('150x150').url %>" style="width: 78px; height: 41px;" />  <%=current_user.commitschool %>  On <%= current_user.updated_at.strftime("%d-%m-%Y")  %> 
                         <% else %>
                           OPEN
                        <% end %>

                        </dd>
                        </dl>
                            
                             <!--home_town_text-->
                            
                             <!--home_town_text-->
    
                        </div>
                        <div class="three columns">
                          <div class="well" style="overflow-y: scroll;height: 150px;">
                          <p style="text-align: center;background-color: wheat;color: black;">Bookmark List</p>
                          <% @allmember.each_with_index do |key, index| %>
                          <% unless  @allmember.blank? %>

              

    
                  <% @user_name= Member.find(key.bookmarkuserid) %>
        <%= index+1 %>)  <a href="<%= static_profile_path(@user_name.username) %>"><%= @user_name.username %></a> <br>
        <%else %>
        <%="No Bookmarklists" %>
         <%end %>
          <%end %>

                            
                          </div>
                        </div>


                        <!--home_town_blog--></div>
                        <div class="profile_tbl">
                            <table>
                                <tr>
                                    <th style="text-align: center;" >School</th>
                            <th style="text-align: center;" >Scholarship <br> ($)</th>
                            <th style="text-align: center;">Status</th>
                            <th style="text-align: center;">Last Updated</th>
                            <th style="text-align: center;">Interview Date</th>
                            <th style="text-align: center;">Round Applied</th>
                            <th style="text-align: center;">Date Applied</th>
                            <th style="text-align: center;">Date Descision Recived</th>
                                </tr>
                  <% @app_data.each_with_index do |ad , k | %>
                           
                            <tr  <% if ad.status=="Accepted"%> style = "background-color:#2267CA" <% elsif ad.status=="Rejected" %> 
                            style = "background-color:#F5525D"
                                 <%end %>>
                            
                            <td id ="td" style="font-size:12px">
                          <div class="floatleft school-logo" style="margin-right:12px">
                          <%#binding.pry %>
                                <% @slogo=School.find_by_business_school(ad.school) %>
                                <img alt="Icon" src="<%=@slogo.image.thumb('150x150').url %>" style="width: 100px; height: 41px;" />
                            </div><%= ad.school %>- <%=ad.university %> <br><a href="<%=schools_edit_path(ad.id)%>"><i class="gdlr-icon icon-edit" style="color: black; font-size: 14px; "></i></a>
                            <a href="<%=schools_destroy_path(ad.id)%>"><i class="gdlr-icon icon-remove" style="color: black; font-size: 14px; "></i></a>
                            <% if ad.status=="Accepted"%>
                           
                <input type="hidden" id = "commitsname<%= k %>" value="<%= ad.school %>">
            <a href="javascript:void(0)" id="commit<%= k %>">commit</a>
<%end %>
                            </td>
                            <td id="td"style="font-size:12px">$
                            <%if ad.scholarship.empty? %>
                            0
                            <%else %>
                            <%= ad.scholarship %>
                            <%end %></td>
                            <td id="td" style="font-size:9px">
                            <% if ad.status == "Waitlisted" %>
                            <%= ad.status %>
                                <i class="gdlr-icon icon-circle-blank" style="color: #91d549; font-size: 16px; text-ailgn:center "></i>
                                
                                <% elsif ad.status == "WL, Rejected" || ad.status == "Rejected"%>
                                <%= ad.status %>
                                <i class="gdlr-icon icon-remove" style="color: red; font-size: 16px; bacground-color:white;text-ailgn:center "></i>
                                <% elsif ad.status == "Accepted" %>
                                <%= ad.status %>
                                  <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                <% elsif ad.status == "WL, Accepted" %>
                                <%= ad.status %>
                                    <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                    <% elsif ad.status == "Rejected" %>
                                    <%= ad.status %>
                                  <i class="gdlr-icon icon-remove" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                <% else %>
                                <%= ad.status %>

                                    <i class="gdlr-icon icon-spinner" style="color: #91d549; font-size: 16px;text-ailgn:center  "></i>
                                
                            <% end %>
                                </td>

                            <td id="td"  style="font-size:9px"><%= ad.updated_at.strftime("%m-%d-%Y") %>
                            </td>
                            <td id="td" style="font-size:9px">
                            <%if ad.interviewdate.nil? %>
                            <%="--" %>
                            <%else %>
                            <%= ad.interviewdate.strftime("%m-%d-%Y") %> 
                            <%end %>
                            </td>

                            <td id="td"><%=ad.choice %></td>
                             <td id="td" style="font-size:9px">
                              <%if ad.received.nil? %>
                              <%="--" %>
                              <%else %>

                              <%= ad.received.strftime("%m-%d-%Y") %> 
                              <%end %>
                             <%#binding.pry %></td>

                           
                              <td id="td" style="font-size:9px">
                                         <%if ad.descion.nil? %>           
                               Not Decided
                               <%else %>
                              
                                <%= ad.descion.strftime("%m-%d-%Y") %>
                               <%end %> 
                                          </td>
                            
                            
                            </tr>
                            
                            <%end %>
                            </table>
                            
                        </div><!--profile_tbl-->
                        <!-- <div id="comments" class="gdlr-comments-area">
                        <h3 class="comments-title"><%=@comments.count %> Responses</h3>
                        <%#@comments.each do |c| %>
                        <%#= render :partial => 'profile/comment', :locals => { :mydata => c } %>
                            <%#end %>
                        <!-- .commentlist -->
                        <!-- #respond -->

                    </div> 
                        
                    </div><!--profile_blog_mid_rgt-->
                </div><!--profile_blog_mid-->
                
                <!-- <div class="profile_blog_rgt" style="border:none">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div> --><!--profile_blog_rgt-->
            </div><!--profile_blog-->
            <div class="clear"></div>
        </div><!--mid_wrap-->
        <div class="clear"></div>
        <div>
                    <!-- ---------------commnt---------------- -->
                </div>
    </div><!--wraper-->
    <div class="clear"></div>
<div class="gdlr-item gdlr-divider-item"></div>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .toggler {
    width: 500px;
    height: 200px;
  }
  #button {
    padding: .5em 1em;
    text-decoration: none;
  }
  #effect {
    position: relative;
    width: 240px;
    height: 135px;
    padding: 0.4em;
  }
  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }
  </style>
  
<script>
$(document).ready(function(){
  <% (0..@app_data.count).each do |f| %>

          
    
        $("#commit<%= f %>").click(function(){
       
            var cuurentuserid = <%= current_user.id; %>
            var schoolname =$('#commitsname<%= f %>').val();
              
            $.ajax({
                    url: "<%=root_url %>profile/commitschool/"+cuurentuserid+"/"+schoolname,
                      context: document.body
                    }).done(function(r) {

                            
                            location.reload();
                        
                });
         });
     <% end %>

     $('#tags').keyup(function(){
            
            var username =$("#tags").val();
            
            $("#demo").css("display", "block");
            $.ajax({
                    url: "<%=root_url %>colleges/searchusers/"+username,
                      context: document.body
                    }).done(function(r) {

                            document.getElementById("demo").innerHTML = r;
                            
                        
                });
            
        });

     $('#demo').change(function(){

        var a=$('#demo').val();
        document.getElementById("tags").value = a;
        $("#demo").css("display", "none");


     })
 
  


});
</script>