<div class="gdlr-item gdlr-divider-item"></div>

<div class="profile_blog_lft">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div>
                <div>
                <div class="profile_blog_mid_rgt">
                    <div class="profile_search_blog">
                    <%=form_for @user, :url => {:action => 'profilecreate'},:html => {:class => "gdlr-lms-form"} do |f| %>
        <dl class="dl-horizontal">
            <dt style="color:black">User Name*</dt>
            
            <dd><%= text_field_tag 'member[username]' , current_user.username,placeholder: 'Name' %></dd>
            <dt style="color:black">Email Address*</dt>
            <dd><%= text_field_tag 'member[email]' , current_user.email,placeholder: 'Email' %></dd>
            <dt style="color:black">Zipcode*</dt>
            <dd><%= text_field_tag 'member[zipcode]' , current_user.zipcode,placeholder: 'Zipcode' %></dd>
            <dt style="color:black">Hometown</dt>
            <dd><%= text_field_tag 'member[hometown]' , current_user.hometown,placeholder: 'Hometown' %></dd>
           <dt style="color:black"><span>Did you graduate</span></br><span> college in the USA? *</span> </dt>
            <dd>
               
<input type="radio" id="question" name="member[question]" value="yes" style="width: 35px;height: 17px;" <% if current_user.question=="yes" %> <%= checked="checked" %> <% end %> > Yes
<input type="radio" id="question1" name="member[question]" value="no"style="width: 35px;height: 17px;"
    <% if current_user.question=="no" %> <%= checked="checked" %> <% end %> 

> No  
            </dd>
            <div style="display:none;" id="stated">
            <dt style="width: 172px;margin-top: 10px;">State</dt>
            <dd style="margin-top: 37px;"><span class="gdlr-lms-combobox" >
    <select name="state" id="state">
                        <option value="">-----------Select State----------</option>

                        <% @state.each do |s| %>
                          <option value="<%= s.id %>"><%= s.states %></option>  
                        <% end %>
                                  
    </select>
<script type="text/javascript">
                        for(var i=0;i<document.getElementById('state').length;i++)
                        {
                            if(document.getElementById('state').options[i].value=="<%= current_user.state  %>")
                            {
                                document.getElementById('state').options[i].selected=true
                            }
                        }          
</script>


                        </span></dd>
            <dt style="width: 172px;color:black">Undergraduate School*</dt>
            <dd><span class="gdlr-lms-combobox" >
            <select name="undergraduate_school" id="undergraduate_school">
                <option value="">-----------Select School----------</option>
                            
            </select>
        <script type="text/javascript">
        for(var i=0;i<document.getElementById('undergraduate_school').length;i++)
        {
            if(document.getElementById('undergraduate_school').options[i].value=="<%= current_user.undergraduate_school  %>")
            {
                    document.getElementById('undergraduate_school').options[i].selected=true
            }
        }          
            </script>
            
                        </span></dd>
            </div>
            <div style="display:none;" id="schoold">
            <dt style="width: 172px;margin-top: 17px;">Undergraduate School*</dt>
            <dd style="margin-top:17px;">
           
            <%= text_field_tag 'school' ,current_user.undergraduate_school,placeholder: 'Undergraduate School' %>
           
            </dd>
            </div>

            <dt style="width: 172px;color:black">Undergraduate Year*</dt>

            <dd>
            <span class='gdlr-lms-combobox' style="width: 129px;">
                <%=select_year(Date.today,:selected => current_user.year)%>    
            </span>
            <script type="text/javascript">
                        for(var i=0;i<document.getElementById('date_year').length;i++)
                        {
                            if(document.getElementById('date_year').options[i].value=="<%= current_user.year  %>")
                            {
                                document.getElementById('date_year').options[i].selected=true
                            }
                        }          
            </script>
            </dd>
            <dt style="color:black">GPA</dt>
                <dd>
            <%= text_field_tag 'member[gpa]' , current_user.gpa ,placeholder: 'GPA ' %></dd>
            <dt style="color:black">GMAT Score</dt>
            <dd><%= text_field_tag 'member[gmat_score]' , current_user.gmat_score,placeholder: 'GMAT Score' %></dd>
        
        <dt style="color:black">Photo*</dt>
        <dd>
            <%= f.file_field :image, class: 'form-control' %>
            <%= image_tag current_user.image.thumb('200x128#').url,:style => 'margin-top: 9px;margin-left: 93px;border: 1px;border-radius: 12px;' if current_user.image   %>
        </dd>
            
        </dl>
 <div style="width:100%;">
 <div class="six columns">
     <%= submit_tag 'Submit',class: 'wpcf7-form-control wpcf7-submit',name: 'signup',style:'font-size:15px;'%>

<a href="<%= profile_chnagepwd_path %>" style="margin-left: 39px;">Change The Password?</a>
 </div>


</div>

        </div>
    <%end%> 




                    </div>
                    </div>

                    <div class="profile_blog_rgt">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div>
<div class="clear"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$("#state").change(function(){
   // alert("check");
   var stateid=$("#state").val();
   // alert(a);
    $.ajax({
              url: "<%=root_url %>colleges/index/"+stateid,
              context: document.body
            }).done(function(r) {

                   // alert(r);
                document.getElementById('undergraduate_school').innerHTML=r;
                
        });
    
});

$('#question').click(function(){
    var a=$("#question").val();
        $('#stated').css('display','block');
        $('#schoold').css('display','none');
    
    
});
$('#question1').click(function(){
    
    var b=$("#question1").val();
    $('#schoold').css('display','block');
    $('#stated').css('display','none');
    
});

if ($("#question").prop("checked")) 
{

   $('#stated').css('display','block');
   $('#schoold').css('display','none');
}

if ($("#question1").prop("checked")) 
{
    
   $('#stated').css('display','none');
   $('#schoold').css('display','block');
}




</script>

