<div class="gdlr-item gdlr-divider-item"></div>
 <div class="wraper">
        <div class="mid_wrap">
            <div class="profile_blog">
                <div class="profile_blog_lft">
                <%= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div><!--profile_blog_lft-->
                <div class="profile_blog_mid">
                    <div class="profile_blog_mid_lft">
                        <div class="profile_blog_mid_lft_pic">
                        
                            <a href="#"><% unless @user.image.nil? %>

                <%= image_tag @user.image.url, :style => "width:300px;height:250px;margin-left: 18px;" %>
                <%else %>
                <img src="/assets/profile.png" alt="Edit Entry" style="width:300px;height:250px;" />
                
                
            <% end %></a>
                        </div><!--profile_blog_mid_lft_pic-->
                        <div class="profile_blog_mid_lft_list">
                            <ul>
                                <li><a href="<%= mailboxes_newest_path %>"><i class="icon-location-arrow" style="color: black; font-size: 16px; "></i>Send Message</a></li>
                                <!-- <li><a href="<%= schools_profile_path %>">Add School</a><i class="icon-ok" style="color: black; font-size: 16px; margin-left: 119px;"></i></li> -->
                                
                                
                                 <li>
                                <% unless current_user.nil? %>
                                   <a href="#" id="profilebookmark">Bookmark</a>
                                <% end %>
                                <!-- <i class="icon-search" style="color: black; font-size: 16px; margin-left: 124px;">
                                    
                                </i>
                                 -->
                    <a  href="#" style="display:none;" id="profilebookmarkadded">    Profile Bookmark Added
                    </a>
                <%unless @user.nil? %>
                <a href="<%= user_remove_path(@user.id) %>" 
                style="display:none;float: left;margin-top: -23px;" id="budel">
                    <i class="icon-remove" style="color:#d55949; font-size: 14px;margin-left: 200px; "></i>
                </a>
                <%end %>










                                
                                </li>
                                <!-- <li><a href="#">Edit Profile</a><i class="icon-edit" style="color: black; font-size: 16px; margin-left: 121px;"></i></li> -->
                                <!-- <li><a href="<%= mailboxes_mailbox_path %>">Mail Box</a><i class="icon-envelope" style="color: black; font-size: 16px; margin-left: 137px;"></i></li> -->
                            </ul>
                        </div><!--profile_blog_mid_lft_list-->
                    </div><!--profile_blog_mid_lft-->
                    <div class="profile_blog_mid_rgt">
                        <div class="profile_search_blog">
                            <div class="profile_search_blog_lft">
                                <h1><%= @user.username %></h1>
                
      
<% unless @user.commitschool.nil? %>
<% 
    @likeuser=Like.where('cuser_id =? AND puser_id =?',current_user.id,@user.id)

       # @likecount=Like.where('puser_id =?',@user.id).count
%>

    
           <div style="width:100%;">
           
           <% if @likeuser.empty? %>
                <a href="javascript:void(0)" id="like" style="float:left;"> <%= image_tag 'congo.jpg', :style => 'margin-top: -12px;'%> </a>
            <% end %>
                <a href="javascript:void(0)" id="dislike" style="display:none;float:left"><%= image_tag 'congo.jpg', :style => 'margin-top: -12px;' %></a>
            <label id="content"> Be the first person to congratulate <%= @user.username %></label>
            <label id="content1" style="display:none;"> You sucessfully congratulate the <%= @user.username %></label>
               
            </div>
<% end %>
                            </div><!--profile_search_blog_lft-->
                            <div class="profile_search_blog_rgt">
                                <!--  -->
                            </div><!--profile_search_blog_rgt-->
                        </div><!--profile_search_blog-->
                        <div class="home_town_blog">
                        <%# unless@stuff.nil? %>
                            <p style="color: black;font-size: 23px;"><%= @user.gpa %>,<%= @user.gmat_score %> | Class of <%=@user.year %></p>
                            <dl class="dl-horizontal">
                        <dt style="color:black">Hometown/Zipcode:</dt>
                        <dd><%= @user.hometown %></dd>
                        <dt style="color:black">Undergraduate:</dt>
                        <dd><%= @user.undergraduate_school %></dd>
                        <dt style="color:black">Work Experience and <br> Other Information:   </dt>                       <dd>
                        <%if @user.exp.nil?  %>0(in months)
                        <%else %><%=@user.exp %><%end %>
                        </dd>
                        <dt style="color:black">Status:</dt>
                        <dd> 

                         <% unless @user.commitschool.nil?  %>  
                         <%#binding.pry %> 
                        To <%# @slogo=School.find_by_business_school(@user.commitschool) %>
                                <!-- <img alt="Icon" src="<%#=@slogo.image.thumb('150x150').url %>" style="width: 78px; height: 41px;" /> --> <%=@user.commitschool %>  On <%= @user.updated_at.strftime("%d-%m-%Y")  %>
                            <% else %>
                            OPEN
                        <% end %>

                        </dd>
                        </dl>
                        <%#end %>
                            
                             <!--home_town_text-->
                            
                             <!--home_town_text-->
                            
                        </div><!--home_town_blog-->
                        <div class="profile_tbl">
                            <table>
                                <tr >
                                    <th style="text-align: center;">School</th>
                            <th style="text-align: center;">Scholarship($)</th>
                            <th style="text-align: center;">Status</th>
                            <th style="text-align: center;">Last Updated</th>
                            <th style="text-align: center;">Interview</th>
                            <th style="text-align: center;">Round Applied</th>
                            <th style="text-align: center;">Date Applied</th>
                            <th style="text-align: center;">Date Descision Recived</th>
                                </tr>
                                <% @lists.each do |f| %>
                            <tr <% if f.status== "Accepted"  %> style = "background-color:#2267CA" <% elsif f.status=="Rejected" %> 
                            style = "background-color:#F5525D"
                                 <%end %>>
                            
                            <td id ="td">
                            <div class="floatleft school-logo" style="margin-right:12px">
                                <% @slogo=School.find_by_business_school(f.school) %>
                                <img alt="Icon" src="<%=@slogo.image.thumb('150x150').url %>" style="width: 100px; height: 41px;" />
                            </div><%=f.school %> <br></td>
                            <td id="td">$<%=f.scholarship %></td>
                            <td id="td" style="font-size:10px">
                            <% if f.status == "Waitlisted" %>
                            <%= f.status %>
                                <i class="gdlr-icon icon-circle-blank" style="color: #91d549; font-size: 16px; "></i>
                                <% elsif f.status == "WL, Rejected" || f.status == "Rejected"%><%= f.status %>
                                <i class="gdlr-icon icon-remove" style="color: red; font-size: 16px; bacground-color:white"></i>
                                <% elsif f.status == "Accepted" %>
                                <%= f.status %>
                                  <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px; "></i><%= f.status %>
                                <% elsif f.status == "WL, Accepted" %>
                                <%= f.status %>
                                    <i class="gdlr-icon icon-ok" style="color: #91d549; font-size: 16px; "></i><%= f.status %>
                                    <% elsif f.status == "Rejected" %>
                                    <%= f.status %>
                                  <i class="gdlr-icon icon-remove" style="color: #91d549; font-size: 16px; "></i><%= f.status %>
                                <% else %>
                                    <i class="gdlr-icon icon-spinner" style="color: #91d549; font-size: 16px; "></i>

                                
                            <% end %>
                                </td> 
                            <td id="td" style="font-size:10px;" ><%= f.updated_at.strftime("%d-%m-%Y") %>
                            </td>
                            <td id="td" style="font-size:10px"><td id="td" style="font-size:10px;" ><%= f.interviewdate.strftime("%d-%m-%Y") %>
                            </td>
                            <td id="td"><%=f.choice %></td>
                            <td id="td" style="font-size:10px">
                            <%= f.received.strftime("%d-%m-%Y") %></td>
                            
                              <td id="td" style="font-size:10px">
                              <%= f.descion.strftime("%d-%m-%Y") %></td>
                             
                            
                            </tr>
                            <%end %>
                            </table>
                            
                        
                        </div><!--profile_tbl-->
                        <div>
                    <div id="comments" class="gdlr-comments-area">
                        <h3 class="comments-title"><%=@comments.count %> Responses</h3>
                        <%@comments.each do |c| %>
                        <%= render :partial => 'profile/comment', :locals => { :mydata => c } %>
                        <%end %>
                        <!-- .commentlist -->
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                        <%=form_tag comment_new_path, :class => 'gdlr-lms-form' do %>
                        
                            
                            
                              <%= hidden_field_tag 'username', params[:username] %>
                            

                            <p>Title*<br>
                            <span class="wpcf7-form-control-wrap your-name">
                            <% #binding.pry %>
                            <%= text_field_tag 'title' , "",class: 'form-control' ,placeholder: 'Title' %>
                            </span></p>
                            <p>Comment*<br>
                            <span class="wpcf7-form-control-wrap your-name">
                            <%= text_area_tag 'comment' , "",class: 'form-control' ,placeholder: 'Comment ' %>
                            </span></p>
                            <%= submit_tag 'Post',class: 'button1' %>
                        <%end %>
                    </div><!-- #respond -->
                    </div>
                </div><!--leave_blog-->
                        
                    </div><!--profile_blog_mid_rgt-->
                </div><!--profile_blog_mid-->
                
                <!-- <div class="profile_blog_rgt">
                <%#= ad_unit(:skyscraper, "pub-6430317842295107", {:slot => "5305317726"}) %>
                </div> --><!--profile_blog_rgt-->
            </div><!--profile_blog-->
            <div class="clear"></div>
        </div><!--mid_wrap-->
        <div class="clear"></div>
    </div><!--wraper-->
    <div class="clear"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){

        var busercount = <%= @buseridcount %>
        if(busercount > 0)
        {
            $('#profilebookmarkadded').show();
            $('#budel').show();
            $('#profilebookmark').css('display','none');            
        }

    <%unless current_user.nil? %>
    $("#profilebookmark").click(function(){

            var cuserid= <%= current_user.id  %> 
            var buserid= <%=  @user.id %>
            $.ajax({
              url: "<%=root_url %>user/bookmark/"+cuserid+"/"+buserid,
              context: document.body
            }).done(function(r) {
                if( r == 'true')
                {

                    $('#profilebookmarkadded').css('display','block');
                    
                    $('#profilebookmark').css('display','none');
                    $('#budel').show();
                }
                else
                {
                    
                    $('#profilebookmarkadded').show();
                    $('#profilebookmark').css('display','none');
                    $('#budel').show(); 
                }
        });

    });
    <%end %>



    $("#like").click(function(){


        var cuserid= <%= current_user.id  %> 

        var buserid= <%=  @user.id %>
            $.ajax({
              url: "<%=root_url %>profile/like/"+cuserid+"/"+buserid,
              context: document.body
            }).done(function(r) {

                    // console.log(r);
                    if(r == true)
                    {
                       $('#dislike').css('display','block');
                       $('#content1').css('display','block');
                       $('#like').css('display','none');
                       $('#content').css('display','none');
                    }

               
            });


            

    });


    $("#dislike").click(function(){


        var cuserid= <%= current_user.id  %> 
        
        var buserid= <%=  @user.id %>
            $.ajax({
              url: "<%=root_url %>profile/dislike/"+cuserid+"/"+buserid,
              context: document.body
            }).done(function(r) {

                    
                    if(r == true)
                    {
                        

                       $('#dislike').css('display','none');
                       $('#content').css('display','block');
                        $('#content1').css('display','none');
                       $('#like').css('display','block');
                       
                    }

               
            });


            

    });

    <% unless @user.commitschool.nil? %>
     <% unless @likeuser.empty? %>
        
        $('#dislike').css('display','block');
        $('#like').css('display','none');
        $('#content1').css('display','block');
        $('#content').css('display','none');
     <% end %>
    <% end %>
})
</script>

